.btn {
  background: rgb(20, 175, 214);
  background: radial-gradient(circle, rgba(20, 175, 214, 1) 50%, rgba(14, 132, 219, 1) 100%);
  &:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(3, 57, 148, 1) 50%, rgba(20, 175, 214, 1) 100%);
  }
}
